.background-eclipse {
  background-image: url('./Assests/Ellipse\ 1.svg'); /* Default for mobile */
  background-size: cover;
  background-position: center;
}

/* Apply this for larger screens like desktops */
@media (min-width: 768px) {
  .background-eclipse {
    background-image: url('./Assests/Ellipse\ 1\ \(1\).svg');
  }
}
